<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Function_Hall_Reservation_System.Properties.Settings.FunctionHallReservationConnectionString"
            connectionString="Data Source=ACCEL-DP\SQLEXPRESS;Initial Catalog=FunctionHallReservation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Function_Hall_Reservation_System.Properties.Settings.ConnectionString"
            connectionString="Data Source=WIN-8IJEV42BG6T\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Function_Hall_Reservation_System.Properties.Settings.FunctionHallReservationConnectionString1"
            connectionString="Data Source=WIN-8IJEV42BG6T\SQLEXPRESS;Initial Catalog=FunctionHallReservation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>